.pointer {
  cursor: pointer;
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  width: 40%;
  max-width: 800px;
  margin: 30px auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.container-btn {
  text-align: center;
}

.form-control {
  width: 80%;
  margin: 1rem 1rem;
}

.form-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
}
